<footer class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
      <ul class="list-inline">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li><%= link_to "Mon profil", user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Mon profil", new_user_session_path %></li>
        <% end %>
      </ul>
    </p>
  </div>
  <div class="share-links">
    <ul class="list-inline">
      <li><%= link_to '<i class="fa fa-facebook share-link"></i>'.html_safe, "https://www.facebook.com/funnybets/?fref=ts" %></li>
      <li><%= link_to '<i class="fa fa-twitter share-link"></i>'.html_safe, "#" %></li>
      <li><p><small>© Copyright 2016 - Propulsé par labmedia</small></p></li>
    </ul>
  </div>
</footer>
