<div class="banner" style="background-image: linear-gradient(-225deg, rgba(41,44,60,0.6) 0%, rgba(80,78,100,0.5) 50%), url(<%= image_path "bentley.jpg"%>);">
    <div class="banner-content">
      <h1>Échange de voiture de prestiges entre particulier !</h1>
      <h2>Envie de découvrir de nouvelle sensations aux volants d'un autre bijoux de la route autre que le votre ? </h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-offset-3 padded">
            <a href="#" class="btn-treehouse">Start now</a>
          </div>
        </div>
      </div>
    </div>

 <div class="wrapper padded text-center">
    <div class="container">
      <div class="process">
        <h2>COMMENT ÇA MARCHE ?</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'car.png', class: 'avatarhome'%>
            <h3>Inscrivez-vous et entrez le véhicule(s) que vous souhaitez proposer à l'échange</h3>
            <div class="circle1">1</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'supercar.png', class: 'avatarhome'%>
            <h3> Choisissez le véhicule que vous souhaitez avoir en échange pour quelques jours !</h3>
            <div class="circle2">2</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'chatting.png', class: 'avatarhome' %>
            <h3>Réservez puis fixez les conditions de l'échange directement en ligne avec le propriétaire de l'auto que vous aurez choisis !</h3>
            <div class="circle3">3</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'certificate.png', class: 'avatarhome' %>
            <h3>Carstars s'occupe d'assurer votre échange, et garantie à chacun une sécurité impécable!</h3>
            <div class="circle4">4</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper2 padded text-center">
    <div class="container">
      <div class="row">
      <h2> Choisissez votre type de véhicule</h2>
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "merco.jpg"%>);">
              <div class="card-category">

              </div>
              <div class="card-description">
                <h2>Voiture de Collection</h2>
              </div>
          </div>
        </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "ferrari.jpg"%>);">
              <div class="card-category">

              </div>
              <div class="card-description">
                <h2>Voiture de Prestige</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="wrapper3 padded ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="block-exemple">
            <div class="cardleft1">
              <p>"Acefefefefet vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero -
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="cardright1">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "ferrari250.jpg"%>);">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper2 padded ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="block-exemple">
            <div class="cardleft1">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "labmo.jpg"%>);">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="cardright1">
            <p>"Acefefefefet vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero -
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
